config/schema/proc-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:complexType name="coreHandlerType">
    <xs:attribute name="pingRequest" type="xs:string" use="optional"/>
    <xs:attribute name="pingReply" type="xs:string" use="optional"/>
    <xs:attribute name="defaultReply" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="typeHandlerType">
    <xs:sequence>
      <xs:element name="arg" minOccurs="0" maxOccurs="32">
        <xs:complexType>
          <xs:attribute name="kind" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="text"/>
                <xs:enumeration value="double"/>
                <xs:enumeration value="float"/>
                <xs:enumeration value="int"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="reply" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:element name="procConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="process">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dataSocket" minOccurs="0" maxOccurs="16">
                <xs:complexType>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="PUB"/>
                        <xs:enumeration value="SUB"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="port" type="xs:positiveInteger" use="optional"/>
                  <xs:attribute name="target" type="xs:string" use="optional"/>
                  <xs:attribute name="targets" type="xs:string" use="optional"/>
                  <xs:attribute name="payload" type="xs:string" use="optional"/>
                  <xs:attribute name="intervalMs" type="xs:positiveInteger" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="control" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="timeoutMs" type="xs:positiveInteger" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="handlers" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="core" type="coreHandlerType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="type" type="typeHandlerType" minOccurs="0" maxOccurs="32"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
